* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #DE354C	;
  }
  
  
  .text{
    margin-right: auto;
    color:white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color:#F3F3F3;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color:#F3F3F3;
  }
  
 
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color:#283747;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color:#F3F3F3	;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
  }
  .side{
    flex:50%;
    background-color: #fff;
    padding: 20px;
  }
  .main{
    flex: 50%;
    background-color: #fff;
    padding: 20px;
  }
  .flexbox-container{
    height: 450px; 
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
   padding: 1px;
   background-color:#D3D3D3	;
}

.flexbox-item{
   width: 80px;
   border: 3px solid white;
   background-color:white;
   margin: 10px;
   flex-grow: 1;
   flex-shrink: 0;
}
.flexbox-item-1{
  min-height: 400px;
  min-width: 350px ;
 }
 .flexbox-item-2{
  min-height: 400px;
  min-width: 350px ;
 }
 .flexbox-item-3{
  min-height: 400px;
  min-width: 350px ;
 }
 * {
     box-sizing: border-box;
   }
   .flexbox-item-1:hover
   {
           -webkit-transform: scale(0.8);
           -ms-transform: scale(0.8);
           transform: scale(0.9);
   }
   .flexbox-item-2:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.9);
}
.flexbox-item-3:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.9);
}
.about-contact{
  display: flex;
}
.about{
  flex:30%;
  background-color: #fff;
  padding: 20px;
}
.contact{
  flex:70%;
  background-color: #fff;
  padding: 20px;
}
.flex1{
  display: flex;
	justify-content: space-around;
}














